@import url( 'https://fonts.googleapis.com/css2?family=Inter:wght@600,700,400,800&display=swap%27%27');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    color: #111827;

}
.frame{
  position: relative;
  width: 100%;
  height: 2936px;
  overflow: hidden;
  background:#FFFFFF;
  margin:auto;
  background-image: url('images/Hero/Purple\ Circle.svg');
  background-repeat: no-repeat;
  background-position: 100% -4%;
  
  

}
/**** HERO CSS ****/
.hero{
  width: 100%;
  height: 866px;
  margin: auto;
}
.bg{
    width: 100%;
    height: 752px;
    background: #F2F7FFB2 70%;
    backdrop-filter: blur(100px);
    background-image: url('images/Hero/Left\ Band\ 1.svg'),url('images/Hero/Left\ Band\ 2.svg'),url('images/Hero/Right\ Band\ 1.svg'),url('images/Hero/Right\ Band\ 2.svg'),url('images/Hero/Right\ Band\ 3.svg');
    background-repeat: no-repeat;
   background-position: 0% 90%, 0% 103.5%, 98% 68%, 100% 81%,100% 83%;
}
.turquoise{
 position: absolute;
  top:71%;
  left:60%;
  filter: blur(33px);
  opacity: 0.3;
  z-index: 0;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin: auto;
  position: relative;
 

}
.left-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 442px;
    height: 32px;
    margin-left:7.7%;
}
.right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 282px;
    height: 40px;
    margin-right:7.7%;
}
.style{
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
}
.link{
  width: 282px;
  height: 28px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}
.container{
    width: 85%;
    height: 640px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 99px;
}
.leftContainer{
  width: 696px;
  height: 400px;
  padding: 96px 0px 0px 0px; 
}
.title{
   font-size: 60px;
   line-height: 72px;
   font-weight: 700;
}
.subtitle{
    margin-top: 16px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
}
.buttons{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 333px;
height: 56px;

}
#purpleBtn{
width: 138px;
height: 56px;
background: #7C3AED;
border-radius: 8px;
color: white;
font-size: 16px;
font-weight: 600;
line-height: 24px;
}
#btn{
  display: flex;
  align-items: center;
  justify-content: center;
   width: 138px;
    height: 56px;
    border: none;
    background-color: transparent;
    color: #7C3AED;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.rightContainer{
  
    display: flex;
    justify-content: center;
    width: 488px;
    height: 640px;
 
}
.iphone{
  display: flex;
  justify-content: center;
  width: 320px;
  height: 640px; 
  z-index: 1;
}
/**** LOGO CSS ****/

.logo-clouds{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 142px;
}
.logo-container{
    width: 70%;
    height: 110px;
    margin: auto;
    display: flex;
    align-items: center;
    border: 1px solid #E5E7EB;
    border-left: none;
    border-right: none;
}
.logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
}

/**** FEATURES CSS ****/

.features{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 748px;

}
.features-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

}
.f-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center; 
}
.f-subtitle{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

}
.features-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 368px;

}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 152px;
    margin-top: 50px;

}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    height: 152px;
}
.icon{
    width: 30px;
    height: 30px;
}
.box-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    margin-top: 25.33px;

}
.box-subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.testimonial{
   position: relative;
   width: 100%;
   height: 892px;
  background-color:#D5FAFC ;

}
.iconic{
  position: absolute;
  width: 142px;
  height: 116px;
  margin-left: 7.7%;
  top: 3.8%;
  opacity: 0.3;

}

.testimonial-title {
   font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}
.testimonial-subtitle{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.section-title{
   position: absolute;
    width: 488px;
    height: 156px;
    top: 90px;
    left: 14%;
}

.item1{
    width: 384px;
    height: 396px;
    position: absolute;
    right: 51%;
    top:340px;
    background-color: white;
    border-radius: 8px;
    
}
.item2{
    width: 384px;
    height: 256px;
    position: absolute;
    left: 51%;
    top: 540px;
    background-color: white;
    border-radius: 8px;

}
.item3{
    width: 488px;
    height: 312px;
     position: absolute;
    left: 51%;
    top: 196px;
    background-color: white;
    border-radius: 8px;
 
}
.content1{
  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 320px;
    height: 268px;
    margin-left: 32px;
}

.content2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 320px;
    height: 128px;
    margin-left: 32px;
}
.content3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 424px;
    height: 184px;
    margin-left: 32px;
}

.f{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 288px;
    height: 268px;
    margin-left: 20px;
}
.f2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 288px;
    height: 128px;
    margin-left: 20px;

}
.f3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 392px;
    height: 184px;
    margin-left: 20px
}
.text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}
.person{
  font-size: 18px;
font-weight: 700;
line-height: 28px;
text-align: left;
margin-top: 13px;
}

.slim{
   font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}
#Hp{
width: 112px;
height: 32px;
margin: 32px;
}
.footer{
    width: 100%;
    height: 288px;
    background-color: black;
}
.footer-container{
    width: 85%;
    height: 152px;
    margin: auto;
    position: relative;
    top: 64px;
    display: flex;
    justify-content: space-between;
}
.left-footer{
    width: 362px;
    height: 152px;
    display: flex;
    flex-direction: row;
}
.small-logo{
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
}
.row{
    display: flex;
    flex-direction: row;
}
.footer-links{
    margin-right: 24px;
    margin-top: 12px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.footer-text{
    color: #D1D5DB;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 24px;
}
.right-footer{
    width: 176px;
    height: 152px;
}
.footer-text2{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D1D5DB;
}
.footer-img{
    width: 176px;
    height: 152px;
}




